resources:
  pipelines:
    bronze_pipeline:
      name: "Bronze Layer Pipeline - ${bundle.target}"
      target: "${bundle.target}_bronze"
      
      libraries:
        - notebook:
            path: ./notebooks/bronze_ingestion.py
      
      clusters:
        - label: default
          autoscale:
            min_workers: 1
            max_workers: 5
          node_type_id: "Standard_DS3_v2"
      
      channel: CURRENT
      edition: ADVANCED
      photon: true
      continuous: false
      development: false

    silver_pipeline:
      name: "Silver Layer Pipeline - ${bundle.target}"
      target: "${bundle.target}_silver"
      
      libraries:
        - notebook:
            path: ./notebooks/silver_transformation.py
      
      clusters:
        - label: default
          autoscale:
            min_workers: 2
            max_workers: 8
          node_type_id: "Standard_DS3_v2"
      
      channel: CURRENT
      edition: ADVANCED
      photon: true
      continuous: false

    gold_pipeline:
      name: "Gold Layer Pipeline - ${bundle.target}"
      target: "${bundle.target}_gold"
      
      libraries:
        - notebook:
            path: ./notebooks/gold_aggregation.py
      
      clusters:
        - label: default
          num_workers: 4
          node_type_id: "Standard_DS3_v2"
      
      channel: CURRENT
      edition: ADVANCED
      photon: true
      continuous: false